body{
   
    text-decoration: none;
    height: auto;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
.left-align{
  text-align:left;
}
.center-table {
  margin: 0 auto; /* Set left and right margins to "auto" to center the element */
}
.head{

   position: fixed;
  top: 0px; /* Adjust the top value as needed */
  left: auto; /* Adjust the left value as needed */

  background-color: white; /* Background color */
  padding: 0px; /* Padding for content inside the element */
  color: black; /* Text color */
  width: 100%;

  
}

#aka{
background-color:white;

}
#hg a{
  text-decoration: none;
  color:#dfa34f;
}
#hg{
  color: black;
  
}
#tu a,
.all-links,
.head table tr td a{
    color: black;
    text-decoration: none;

}


h1{
    display: inline;
  flex-direction: column; /* Make the container a column */
  align-items: flex-start; 
  color: #dfa34f; 
}
.image-container {
  position: auto;
  max-width: 100%; /* Ensure the container is responsive */
}

/* Style for the image */
.image-container img {
  width: 100%; /* Make the image fill the container */
  height: 250px; /* Maintain aspect ratio */
  display: block; /* Remove default inline display */
}

/* Style for the text overlay */
.text-overlay {
  position: absolute;
  top: 30%; /* Position the text in the center vertically */
  left: 50%; /* Position the text in the center horizontally */
  transform: translate(-50%, -50%); /* Center the text precisely */
  color: white; /* Text color */
  font-size: 24px; /* Adjust the font size */
  font-weight: bold; /* Adjust font weight if needed */
  text-align: left; /* Center-align text */
  margin-left:0px;
}

.last,
.text-center{
    text-align: center;
}
.products table tr td img{
    width: 300px;
}
.us table tr td ul li{
  list-style-type: none;
}
.last p a,
.y,
.us table tr td ul li a{
  color: darkgray;
    text-decoration: none;
  
}
/* for futere who nows,  table tr:nth-child(2) { */
.us{
  padding: 10px 15px;
  background-color: #f5f5f5;
  width: auto;
  height: auto;
}
.head table tr td a:hover,
.us table tr td ul li a:hover {
color: #23527c;
text-decoration: underline;
}

.after-last{
color: orange;  
}
#myButton {
background-color: orange;
color: white;
padding: 5px;
border: 2px solid orange;
/* Other styles if needed */
}
#tu{
color: black;
background-color: orange;
font-size: 20px;
}
#r{
background-color: white;
}

.round-photo{
border-radius: 50%;
}
.products table tr:nth-child(2),
.products table tr:nth-child(4),
.products table tr:nth-child(6),
.products table tr:nth-child(8),
.products table tr:nth-child(10),
.products table tr:nth-child(12),

s{
  color: #dfa34f;
  font-size: 20px;
}
.today{
  background-color: rgb(222, 201, 63);
  width: 150px;
  height: 50px;
 
  font-size: 20px;
}
.products table tr td a{
    text-decoration: none;
    color: rgb(99, 12, 12);
    font-size: 15px;
}
.products table tr td a:hover{
 
  color: rgb(139, 28, 28);
  font-size: 20px;
}
.profile-section{
  font-size: 8px;
 
}